body{
	background-color: #CBEDD5;
  color: #000000;
	
	
}
hr {
	border-color: gray;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
  }

  .opis {
    text-align:justify;
  }

  .ptaszniki {
    text-decoration: none;
  }

  .contact-me {
    text-decoration: none;
  }
  h1{
color: #439A97;
  }
  h3{
    color: #62B6B7;
  }
  .spider {
    height: 300px;
    width: 300px;
    margin: 30px;
    border-style: double;
    border-width: 10px;
    border-radius: 50px;
  }

  .chromka {
    position: absolute;
    margin-left: 400px;
    margin-top: 400px;
  }

  .versi {
    position: absolute;
    margin-left: 400px;
  }

  .pajunki {
    background-color: #F8F988;
    position: relative;
    width: 800px;
    height: 1200px;
    align-items: center;
  }