section{
	background-color: #CD5888;
  color: #000000;
	
	
}
.navbar {
  padding-right: 50%;
}
hr {
	border-color: #20262E;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  margin-right: 40%;
  width: 25%;
  align-items: center;
  }

  .opis {
    text-align:justify;
  }

  .ptaszniki {
    text-decoration: none;
  }

  .contact-me {
    text-decoration: none;
  }
  h1{
color: #439A97;
  }
  h3{
    color: #62B6B7;
  }
  .spider {
    height: 300px;
    width: 300px;
    margin: 30px;
    border-style: double;
    border-width: 10px;
    border-radius: 50px;
  }

  .chromka {
    position: absolute;
    margin-left: 400px;
    margin-top: 400px;
  }

  .versi {
    position: absolute;
    margin-left: 400px;
  }

  .pajunki {
    background-color: #F8F988;
    position: relative;
    width: 800px;
    height: 1200px;
    align-items: center;
  }
  .navbar {
    background-color: #CD5888;
    margin-right: 25%;
  }